body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .joke a{
  color:gray solid;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  display: flex;
  list-style-type: none;
  align-items: center;
  float: left;
}

.we{
  background-color: lightblue;
}

.joke-right {
  display: flex;
  list-style-type: none;
  align-items: center;
} */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.app__header{
  background-image: url('https://images.unsplash.com/photo-1456356627738-3a96db6e2e33?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d2luZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
}
.s {
  padding: 6px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(19, 85, 226);
  background-color: #000000;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  float: right;
  margin: 50%;
}

.s:hover {background-color: #ffffff}

.s:active {
  background-color: #e9e9e9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}